<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sys.dao.SupplierDao">
  <resultMap id="SupplierResultMap" type="com.sys.entity.Supplier">
    <id column="sup_id" jdbcType="INTEGER" property="supId" />
    <result column="sup_name" jdbcType="VARCHAR" property="supName" />
    <result column="sup_linkman" jdbcType="VARCHAR" property="supLinkman" />
    <result column="sup_phone" jdbcType="VARCHAR" property="supPhone" />
    <result column="sup_address" jdbcType="VARCHAR" property="supAddress" />
    <result column="sup_remark" jdbcType="VARCHAR" property="supRemark" />
    <result column="sup_pay" jdbcType="DECIMAL" property="supPay" />
    <result column="sup_type" jdbcType="VARCHAR" property="supType" />
  </resultMap>
  <!-- 增加供应商 -->
  <insert id="insert" parameterType="com.sys.entity.Supplier">
    insert into supplier (sup_id, sup_name, sup_linkman, sup_phone, sup_address, sup_remark, sup_pay, sup_type)
                values (#{supId},#{supName},#{supLinkman},#{supPhone},#{supAddress},#{supRemark},#{supPay},#{supType})
  </insert>

  <!-- 修改供应商信息 -->
  <update id="update" parameterType="com.sys.entity.Supplier">
    update supplier set
    sup_name=#{supName},sup_linkman=#{supLinkman},sup_phone=#{supPhone},
    sup_address=#{supAddress},sup_pay=#{supPay},sup_remark=#{supRemark},sup_type=#{supType}
    where
    sup_id = #{supId}
  </update>
  
  <!-- 批量删除供货商信息 -->
  <delete id="delete">
    delete from supplier where sup_id in
    <foreach collection="array" open="(" close=")" separator="," item="ids">
      #{ids}
    </foreach>
  </delete>

  <!-- 通过多条件分页查询，返回数据集 -->
  <select id="selectPageListDyc" parameterType="com.sys.entity.Page" resultMap="SupplierResultMap">
    select * from supplier
    <where>
      <if test="paramEntity.supName!=null">and sup_name like #{paramEntity.supName}</if>
      <if test="paramEntity.supAddress!=null">and sup_address like #{paramEntity.supAddress}</if>
    </where>
    limit #{start},#{rows}
  </select>

  <!-- 通过多条件分页查询，返回总记录数 -->
  <select id="selectPageCountDyc" parameterType="com.sys.entity.Page" resultType="Integer">
    select count(1) from supplier
    <where>
      <if test="paramEntity.supName!=null">and sup_name like #{paramEntity.supName}</if>
      <if test="paramEntity.supAddress!=null">and sup_address like #{paramEntity.supAddress}</if>
    </where>
  </select>

  <select id="selectSupplier" parameterType="map" resultType="map">
  	<![CDATA[
    select sum(ar_payable) total,sup_name from account_records inner join supplier
    on account_records.sup_id=supplier.sup_id
    where ar_date >=#{start} and ar_date<=#{end} and ar_bus_type='bo'
    group by sup_name
    ]]>
  </select>

</mapper>









